.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 120vh;
    background-color: #f2cf43;
    background-image: linear-gradient(315deg, #43d8f2 0%, #19a186 74%);    
}

.contactHead{
    width: 100%;
    position: relative;
    height: 50%;    
}

.heading{
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    font-family: Lucida Handwriting;
    z-index: 100;
}

.headBg{
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
}

.headingImg{
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
}

.contactBody{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    height: 50%;
    
}

.contactMap{
    width: 100%;
    height: 100%;    
}

.map{
    border: none;
}

.meetUs{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.infoWrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30vh;
    max-width: 270px;
    transform: translate(-50%, -50%);    
}

.contactWrap{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 15px;
    align-items: center;
}

.title{
    font-size: 40px !important;
    font-family: "Montserrat", sans-serif;
    font-weight: 500 !important;
    letter-spacing: 0.01em;
}

.contactWrap> a{
    font-size: 17px;
    color: #000;
    text-decoration: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
}
 
.contactWrap> a:hover{
    color: #01bfad;
}

.iconWrap{
    color: #01bfad;
}

.pitchUs{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #eaeaea;
}

.pitchInput{
    border: none;
    outline: none;
    background-color: transparent;
    width: 7.5em;
}

.infoWrap >p{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.gradButton{
    width: 7em;
    height: 35px;
    background-color: #01bfad;
    border: none;
    border-radius: 21px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    cursor: pointer;
}


.pitchInput::placeholder{
    color: #01bfad;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 15px;
}
